/* ----- Main Content ----- */

body,
html {
    background: var(--body-bg);
    color: var(--body-color);
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Creato', Arial, Helvetica, sans-serif;
}

main {
    scroll-behavior: smooth;
}

@media (hover: none) {
    main {
        scroll-behavior: auto;
    }
}

body {
    display: flex;
    flex-direction: row;
}

/* Titles & text */

h1 {
    margin: 0;
    margin-top: max(7vh, 4vw);
    margin-bottom: 5vh;
    text-align: center;
    font-size: 10vw;
    color: var(--whitest);
    text-transform: uppercase;
    font-family: 'BebasNeue', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
    font-family: 'BebasNeue', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: min(7vw, 7vh);
    margin: 0;
    padding-top: 2vh;
    margin-bottom: 1vh;
    text-align: center;
}

h3 {
    font-family: 'BebasNeue', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: min(5vw, 5vh);
    margin: 0;
    padding-top: 1.5vh;
    margin-bottom: .5vh;
    text-align: center;
}

.h3like {
    font-size: large;
    font-weight: bold;
}

h4 {
    margin: 0;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h6 {
    margin: 0;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

hr {
    background: linear-gradient(90deg, #0000, var(--button-bg), #0000);
    height: 2px;
    border: none;
}

img,
nav a {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.unselectable {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

}

.postscriptum {
    font-style: italic;
}

a,
a:visited {
    color: var(--whitest);
}

.underlined {
    text-decoration: underline;
}


.titlePage {
    width: 50%;
    height: 28px;
}

.boldi {
    font-weight: bold;
    font-style: italic;
}

.unov_relative {
    position: relative;
}

.ovline::before {
    background-color: var(--body-color);
    content: '';
    display: block;
    height: var(--height-lines);
    width: 20vw;
    position: absolute;
    left: 10vw;
    top: -1vw;
    transform-origin: top left;
    transition: all 0.6s;
    animation: scaleX 1s;
}

.unline::after {
    background-color: var(--body-color);
    content: '';
    display: block;
    position: absolute;
    right: 10vw;
    bottom: 0;
    height: var(--height-lines);
    width: 20vw;
    transform-origin: bottom right;
    transition: all 0.6s;
    animation: scaleX 1s;
}

.unov_anim:hover::before, .unov_anim:hover::after {
    transform: scaleX(1.5);
}

@keyframes scaleX {
    0% {
        transform:
            scaleX(0);
    }

    100% {
        transform:
            scaleX(1);
    }
}

.main_section {
    min-height: 60vh;
}

@media screen and ((max-width : 900px) or (orientation:portrait)) {
    h1 {
        font-size: 15vw;
    }
}

* {
    box-sizing: border-box;
}

/* ----------- SCROLLBAR ----------- */

::-webkit-scrollbar {
    width: 8px;
    background: var(--scroll-bg);
}

::-webkit-scrollbar:hover {
    width: 14px;
    background: var(--scroll-bg);
}

::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: var(--scroll-bg);
    border: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 1px solid transparent;
    background-clip: content-box;
    background-color: var(--scroll-thumb-bg);
    transition: all 1s;
}

::-webkit-scrollbar-thumb:hover {
    width: 14px;
    border-radius: 4px;
    background-color: var(--scroll-thumb-hover);
}

::-webkit-scrollbar-thumb:active {
    background-color: var(--scroll-thumb-active);
}