/* Contact */

.film-strip {
    --s: 1vw;
    --c: #222;

    width: calc(20*var(--s));
    background:
        conic-gradient(at 50% var(--s), var(--c) 75%, #0000 0) 0 0/calc(2*var(--s)) calc(100% - var(--s)) padding-box;
    border-top: var(--s) solid var(--c);
    border-bottom: var(--s) solid var(--c);
    padding: calc(var(--s)*2.5) 0;
    /* padding: calc(var(--s)*2.5) calc(var(--s)*1.5); */
    box-sizing: border-box;
}

.frame-separator {
    background-color: var(--body-bg);
    width: min(2px, 0.5vw);
    height: 100%;
}

#contact {
    background-color: var(--body-bg);
    background-size: cover;
    background-position: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

#titleContact {
    height: 28px;
}

#listContact {
    width: 100%;
    height: 12.5vw;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    overflow-y: auto;
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
    box-sizing: content-box;
}

#listContact::-webkit-scrollbar {
    /* Chromium */
    display: none;
}

#listContact a {
    width: 22%;
    text-decoration: none;
}

.frame-strip {
    background-color: var(--body-bg);
    height: 12.5vw;
    border-radius: 4px;
    text-align: center;
}

.empty-frame {
    width: 22%;
    height: 12.5vw;
}

#listContact a li {
    width: 100%;
    transition: all 0.5s;
    background-color: var(--yellow);

    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}

#listContact a li:hover {
    background-size: 70%;
}

.frame-content {
    width: 100%;
    height: 100%;
    background-color: var(--otherblenditemhover);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 4px;
    transition: all 0.4s;
    opacity: 0;
}

#listContact a:hover .frame-content {
    opacity: 1;
}

.frame-content h4, .frame-content p {
    padding: 0;
    margin: 0;
}

.frame-content h4 {
    font-weight: 800;
    text-transform: uppercase;
}

#listContact li hr {
    background-color: var(--body-color);
    height: 1px;
    width: 40%;
}

#mailContact {
    background-image: url("../images/icons/mail.svg");
}

#aboutContact {
    background-image: url("../images/icons/about.svg");
}

.empty-frame {
    display: block;
}

@media screen and ((max-width : 900px) or (orientation:portrait)) {
    .empty-frame {
        display: none;
    }

    #listContact a {
        width: 44%;
    }

    .frame-strip {
        height: 25vw;
    }

    #listContact {
        height: 32vw;
    }
}