/* ----- Navigation Menu ----- */

nav {
    background-color: var(--yellow);
    /* var(--nav-bg); */

    overflow: hidden;
    transition: all 0.2s;
}

.imgMenu {
    display: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    width: 100%;
    height: 100%;
}

nav ul a {
    text-decoration: none;
    color: var(--nav-color);
    transition: all 0.3s;
    display: flex;
    width: 100%;
    height: 20%;
    flex-direction: column;
}

nav ul a li {
    background: linear-gradient(90deg, var(--yellow-t1), var(--yellow-t3), var(--yellow-t1)), radial-gradient(closest-side, var(--yellow-t1) , var(--yellow-t3) );
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.2s;
}

nav ul a li:hover {
    background: linear-gradient(90deg, var(--yellow-t0), var(--yellow-t2), var(--yellow-t0)), radial-gradient(closest-side, var(--yellow-t0) , var(--yellow-t2) );
}

nav ul a li {
    width: 100%;
    height: 100%;
    transition: all 0.3s;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav ul a li span {
    height: 100%;
    font-size: calc(20vh / 4); /* 7chars max ! */
    writing-mode: sideways-lr;
}

nav ul {
    opacity: 1;
    transition: all 0.3s;
    padding: 0px;
}

nav ul a img {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
    transition: all 0.2s;
}

aside {
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--yellow);
}

aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
}

aside li, nav li span {
    color: var(--always-black);
    font-weight: 900;
    /* padding: 0.5vw; */
    list-style: none;
    text-transform: uppercase;
    text-align: center;
    font-style: italic;
    font-family: 'BebasNeue', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
}

.aside_element {
    font-size: 4.5vw;
    width: 100%;
    writing-mode: sideways-rl;
    height: 0px;
    transition: all 0.1s;
    letter-spacing: 10px;
    display: none;
    transform: /*skewY(80deg)*/ scaleX(.5);
}

.current_aside {
    display: block;
    transform: /*skewY(10deg)*/ scaleX(1);
    height: 100%;
    animation: appearing 0.2s ease-out;
    letter-spacing: 4px;
}

@keyframes appearings {
    0% {
        transform: /*skewY(80deg)*/ scaleX(.5);
    }

    100% {
        transform: /*skewY(10deg)*/ scaleX(1);
    }
}

@keyframes appearing {
    0% {
        transform: /*skewY(80deg)*/ scaleX(.4);
        letter-spacing: 40px;
    }

    100% {
        transform: /*skewY(80deg)*/ scaleX(1);
        letter-spacing: 4px;
    }
}