/* Dark mode */
:root {
    --yellow: #ecba24;
    --yellalt: #da951e;
    --yellow-t3: #ecba24cc;
    --yellow-t2: #ecba2488;
    --yellow-t1: #ecba2433;
    --yellow-t0: #ecba2411;
    --yellow-press: #2a261a;
    --yellogo: #cdab51;
    --always-0: #000;
    --always-black: #111;
    --almost-black: #333;
    --pressed-always-0: #fff;
    --pressed-always-black: #eee;
    --pressed-almost-black: #999;
    --body-bg: #111111;
    --body-color: #eeeeee;
    --nav-bg: #222222;
    --nav-color: #dddddd;
    --scroll-bg: rgba(0, 0, 0, 0);
    --scroll-thumb-bg: #999999;
    --scroll-thumb-hover: #bbbbbb;
    --scroll-thumb-active: #777777;
    --block-bg: rgba(0, 0, 0, 0.69);
    --block-bg-f: rgba(0, 0, 0, 1);
    --discordfonts: Ginto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    --button-bg: #444444;
    --button-bg-hover: #555555;
    --winSize: 1080px;
    --subtitle: #aaaaaa;
    --otherblenditem: rgba(75, 75, 75, 0.4);
    --otherblenditemhover: rgba(0, 0, 0, 0.8);
    --contactbg: #444444;
    --contactlinkbg: #666666;
    --contactlinkbghover: #6e6e6e;
}

.invertOk {
    filter: invert(1);
}

nav ul a:hover>.invertOk {
    filter: invert(0);
}


/* Light mode */
@media (prefers-color-scheme: light) {
    :root {
        --yellow: #ecba24;
        --yellalt: #da951e;
        --yellow-t3: #ecba24cc;
        --yellow-t2: #ecba2488;
        --yellow-t1: #ecba2433;
        --yellow-t0: #ecba2411;
        --yellow-press: #f0db9d;
        --yellogo: #cdab51;
        --always-0: #000;
        --always-black: #111;
        --almost-black: #333;
        --pressed-always-0: #000;
        --pressed-always-black: #111;
        --pressed-almost-black: #666;
        --body-bg: #eeeeee;
        --body-color: #111111;
        --nav-bg: #dddddd;
        --nav-color: #222222;
        --scroll-bg: rgba(255, 255, 255, 0);
        --scroll-thumb-bg: #999999;
        --scroll-thumb-hover: #777777;
        --scroll-thumb-active: #bbbbbb;
        --block-bg: rgba(255, 255, 255, 0.69);
        --block-bg-f: rgba(255, 255, 255, 1);
        --button-bg: #bbbbbb;
        --button-bg-hover: #aaaaaa;
        --subtitle: #555555;
        --otherblenditem: rgba(180, 180, 180, 0.4);
        --otherblenditemhover: rgba(255, 255, 255, 0.7);
        --contactbg: #bbbbbb;
        --contactlinkbg: #999999;
        --contactlinkbghover: #909090;
    }

    .invertOk {
        filter: invert(0);
    }

    nav ul a:hover>.invertOk {
        filter: invert(1);
    }
}

@font-face {
    font-family: "BebasNeue";
    font-weight: 400;
    font-style: normal;
    font-stretch: 100%;
    src: url("./BebasNeue-Regular.ttf") format("truetype"),
        url("./BebasNeue-Regular.otf") format("opentype");
}